In [10]:
import pandas as pd
import numpy as np

In [11]:
raw_data_path = "data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv"
print("Sucessfully path loaded")

Sucessfully path loaded

In [12]:
df = pd.read_csv(raw_data_path)
print("data loaded successfully")

data loaded successfully

In [13]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [14]:
pd.set_option('display.max_columns',None)
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [15]:
df.shape

(7043, 21)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [17]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [18]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

Column: customerID  
Business meaning: unique serial number given to every customer
Type: object  
Potential churn influence: No

Column: gender  
Business meaning: Sex of the customer
Type: object  
Potential churn influence: Yes

Column: SeniorCitizen  
Business meaning: whether the customer is a senior (typically age â‰¥ 65)
Type: object 
Potential churn influence: Yes

Column: Partner  
Business meaning: Whether the customer has a spouse/partner
Type: object  
Potential churn influence: yes

Column: Dependents  
Business meaning: Whether the customer has dependents (children/others)
Type: object  
Potential churn influence: yes

Column: tenure
Business meaning: The number of months or years the customer stayed with company
Type: int64  
Potential churn influence: Yes

Column: PhoneService
Business meaning: The customer has any phone services with the company
Type: object  
Potential churn influence: Yes

Column: MultipleLines
Business meaning: The customer have more than 1 phone services with the company
Type: object  
Potential churn influence: yes

Column: InternetService  
Business meaning: The customer has enabled internet service/which type of internet sevice from the company
Type: object  
Potential churn influence: yes

Column: OnlineSecurity 
Business meaning: Customer has enabled security service through online 
Type: object  
Potential churn influence: yes

Column: OnlineBackup  
Business meaning: customer has enabled backup storage through online
Type: object  
Potential churn influence: yes

Column: DeviceProtection  
Business meaning: customer activated protection for the device or not
Type: object  
Potential churn influence: yes

Column: TechSupport  
Business meaning: customer enabled for technical support and updates
Type: object  
Potential churn influence: yes

Column: StreamingTV  
Business meaning: the customer has enabled online tv services or not
Type: object  
Potential churn influence: yes

Column: StreamingMovies 
Business meaning: the customer has enabled online movie services or not
Type: object  
Potential churn influence: Unsure

Column: Contract
Business meaning: the customer has contract based or full time based
Type: object  
Potential churn influence: yes

Column: PaperlessBilling
Business meaning: the customer has enabled paper less billing or not
Type: object  
Potential churn influence: yes

Column: PaymentMethod  
Business meaning: what type of payment customer choose
Type: object  
Potential churn influence: yes

Column: MonthlyCharges
Business meaning: Monthly amount charged to the customer for services
Type: float64 
Potential churn influence: yes

Column: TotalCharges
Business meaning: Total amount charged to the customer over their entire tenure
Type: object  
Potential churn influence: yes

Column: Churn
Business meaning: Whether the customer has left the company
Type: object 
Potential churn influence: No

# Key Take Aways

- The Total dataset consists of 7043 rows and 21 columns
- There columns consists of 
    - 18 objects
    - 2 ints
    - 1 float
    - *issue* is colume "Total charge" is an float dtype but it is recoreded as object
- Key columns for *churn* are: gender, partner, dependents, tenure, phoneservice, online backup, device protection, tech support, streaming tv, contract, paperless billing, payment method, monthly charges, total charges, churn.